<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

	<nav th:fragment = "navbar" class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd; font-weight: 700; border-color: #a3f9ad; border-style: double;">
	  <a class="navbar-brand" th:href="@{/}"> Task Management System</a> 
	  <div class="vl" style="border-left: 6px solid black; height: 20px;"></div>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
	        <a class="nav-link" th:href="@{/}">Home</a>
	       
	      </li>
	      
	       </ul>
	  </div>
	  
	   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	    	      
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/employees}" >Employees </a>
	         
	          
	      </li>
	       
	            <li class="nav-item">
	        <a class="nav-link" th:href="@{/projects}">Projects</a>
	         
	      </li>
	      <li class="nav-item">
	        		<a class="nav-link" th:href="@{/projects/timelines}">Projects Timelines</a>
		  </li>
   
	      
	    </ul>
	  </div>
	   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	    
	   			<li class="nav-item" style = "text-align: right;">
	        		<a class="nav-link" th:href="@{/logout}">Logout</a>
	      		</li>
	      
	        </ul>
	  </div>
	      
	</nav>
	
	

 	
 	
	<br> <br>
	<div class="container">
			<h3>Projects Directory</h3>
			<hr>
			
			<!--  Add New Project Button -->
			<a th:href="@{/projects/new}"
				class="btn btn-primary btn-sm mb-3"> 
				New Project 
			</a>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Project Name</th>
						<th>Project Stage</th>
						<th>Action</th>
					</tr>
				</thead>		
				<tbody>
					<tr th:each="aProject : ${projectsList}">
						<td th:text="${aProject.name}"/>
						<td th:text="${aProject.stage}"/>
						
						<td>
							<a th:href="@{/projects/update(id=${aProject.projectId})}"
								class="btn btn-info btn-sm">
								Update
							</a>
							<a th:href="@{/projects/delete(id=${aProject.projectId})}"
								class="btn btn-danger btn-sm" 
								onClick="if (!(confirm('Are you sure youwant to delete this project'))) return false">
								Delete
							</a>
						</td>
					</tr>
				</tbody>
			
			</table>
		</div>

</body>

</html>
